<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="bg-[#000] px-8 py-4">
        <ul class="flex justify-between">
            <li class="text-white">🌸 Copyright &copy; Anita Baker</li>
            <li><a href="/students" class="text-white hover:opacity-80">View as Admin</a></li>
        </ul>
    </div>
    
</body>
</html>