

<div>
    <table class="mx-auto mt-[100px] shadow-md">
        <thead>
            <tr class="bg-[#000] text-white text-left">
                <th class="px-4 py-2">Student ID</th>
                <th class="px-4 py-2">Teacher</th>
            </tr>
        </thead>
        <tbody>
            <% if(details.length) { for(var i=0; i < details.length; i++) { %>
            <tr>
                <td class="px-4"><%= details[i].student_id %></td>
                <td class="px-4"><%= details[i].teacher %></td>
            </tr>
            <% }} else { %>
                <tr>
                    <td>No Records</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
